@model MyCRUD.Models.Branch

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoOfBuildingBranch1</title>
</head>
<body>
    <div> 
        <h2>No Of Buliding in the branch :@ViewBag.count</h2>
       
    </div>
</body>
</html>
