@model IEnumerable<MyCRUD.Models.Branch>
@using MyCRUD.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <div>
        @foreach (Branch branch in Model)
        {
            <h3>@Html.ActionLink(branch.BranchNo, "NoOfBuildingBranch1", new { id = branch.BranchNo })</h3>
        }
    </div>

</head>
<body>
    <div> 
    </div>
</body>
</html>
