@model IEnumerable<MyCRUD.Models.Rent>
@using MyCRUD.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Position</title>
</head>
<body>
    <h1>Positions</h1>
    @foreach (string i in ViewBag.StaffPosition)
    {
        <h3>@Html.ActionLink(i, "Staff_Position", new { po = i })</h3>
    }
</body>
</html>
